button {
  position: relative;
  border: none;
  margin: 10px 10px 10px 0;
  padding: 5px 10px;
  cursor: pointer;
  background-color: lavender;
  transition: 0.2s background-color;

  &:hover {
    background-color: lightpink;
  }
}

button.disabled:hover {
  background-color: lavender;
  cursor: not-allowed;
}